<div class="aboutusPage">
  <div class="aboutUsHeading"> 
    <h2 class="heading">About Us</h2>
  </div>
  <div class="content">
    <p class="paragraph">
      MAK ENGLISH LANGUAGE AND COMPUTER INSTITUTE is one of the superior and leading branch of 
      MAK GROUP OF INSTITUTIONS that has been running successfully since 2007. We provide better 
      and economical education with a difference. Unique and exclusive package for all learners 
      as per need of time, that gives wide-ranging support in all challenges of life. In MAK 
      ENGLISH LANGUAGE AND COMPUTER INSTITUTE, we prepare and educate each and every student of 
      our in such a way that they could compete the upcoming challenges of life and to become a 
      useful member of the society. We believe that knowledge, positivism, confidence and passion 
      play truly vital role to bring learners on top.
    </p> 

    <div class="aboutUsImage">

    </div>

    <p class="paragraph"  >
      We believe that knowledge, positivity and confidence play very vital role for getting splendid 
      success in life, our manifesto is to provide all those qualities which bring learners on top.
      We aim for excellence through quality management quality training and quality teaching bringing 
      benefits to our students community and the wider world our mission is to enhance the intellectual 
      and moral outlook of the youth reinforcing the social values with patriotism and dedication to the
      service of humanity and to uphold Islamic values and pursue our culture and sacred traditions
    </p>
  </div>
</div>


<!-- Our manifesto is to provide all those qualities which bring learners on top. We aim for excellence through quality management, quality training and quality teaching bringing benefits to our students, community and wider world. Our mission is to enhance the intellectual and moral outlook of the youth reinforcing the social values with patriotism and dedication to the service of humanity and to uphold Islamic values pursue our culture and sacred tradition. We offer a unique and complete English language program through exclusive student’s book and workbook series with grammar exercises, vocabulary bank, pronunciations (with phonetics sound words), dialogues, fun lessons, conversations and practical activities(audio/visual). Clearly presented language input in every unit; interesting texts and topics that motivate students; activities and exercises that practice language in a context that is relevant to a busy adult's everyday life.
Students are tested during study with truly informative and exciting progress test and quick-test that helps students to overcome their problems and to enhance their  skills and could fulfill their desires. At the end of course students are tested finally. Progress report is given to the students after completion of course. Students are allowed to get certificate after completion of course successfully and those who get success with flying colors get award. No doubt, here we have exclusive and complete package for all COMPUTER learners as per need of time. Theory plus practical, individual PC (personal computer) for each and every student plus wide-ranging support and resources too. Exquisite air conditioned LAB and truly professional faculty. Certificate and diploma courses are included in computer program. Students are tested from time to time that helps students over come their problems and to work in a professional and better way. -->

      <!-- MAK ENGLISH LANGUAGE & COMPUTER INSTITUTE is also one of its leading branch established in 2007 
      which going on innovation from time to time by THE Grace of ALLAH
      Here at MAK ENGLISH LANGUAGE & COMPUTER INSTITUTE maximum emphasis on modern quality education 
      and effective teaching techniques have been given which ultimately enhance the learning 
      capabilities of the learners. Mission In MAK ENGLISH LANGUAGE & COMPUTER INSTITUTE we prepare 
      and educate each and every student of our in such a way that they could compete the upcoming 
      challenges of life and to become a useful member of the society. -->