<div class="ceoPage">
  <div class="ceoHeading"> 
    <h2 class="heading">CEO/Chairman</h2>
  </div>
  <div class="ceoPageContent">
    <div class="columnsContainer">
      <div class="column">
        <div class="column1InnerContainer">
          <div class="imgDiv">
            <img class="ceoImage" src="../../assets/sir-sohail.jpg">
          </div>
          <div class="designationDiv">
            <h3 class="designationHeading">Mr.Sohail Maqsood</h3>
            <h5 class="role">CEO</h5>
            <p class="field">Computerized Accounting Certified</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="paragraphContainer">
          <p class="messageParagraph">
            Its been a proud moment when i think of the past from where we started. In 2007, When i first started 
            the MAK Institue as a computer collegiate only, it was a great challenge for me to provide quality 
            education and meet the standards of a quality institue. Later on we started the English Language 
            courses as well.
          </p>
          <p class="messageParagraph">
            When we get success as an organization, its always been a team game so as in our case. My team 
            comprises of some highly talented and hard working individuals who worked really hard to achieve
            my dream of becoming one of the leading educational institute.
          </p>
          <p class="messageParagraph">
              We always believe in providing high standard education with theory plus practical,
              qualified teaching faculty that gives students wide-ranging support and clear focus to boost up 
              their skills to meet their desires. We not only teach students but also give them real support 
              and confidence to grow-up and compete with others in the market.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>