<div class="whymakPage">
  <div class="aboutUsHeading"> 
    <h2 class="heading">Why MAK?</h2>
  </div>
  <div class="content">
      <p class="paragraph">
        <!-- WHY MAK EL AND CI? -->
        <!-- VISION: -->
        Our manifesto is to provide a rich learning environment that centers on students, meeting 
        development needs, acknowledging individual differences and honoring all styles of learning. 
        We provide quality training, nurturing and respectful atmosphere that students could enhance 
        their four skills to compete with upcoming challenges of life.     
      </p>
      <div class="aboutUsImage">

      </div>
      <div class="facultyDiv">
        <div class="supportiveStaff">
          <h2>SUPPORTIVE STAFF</h2>
        </div>
        <p class="paragraph">
            Students grow up and enhance their skills under the kind shadow of MAK. We have dedicated 
            and supportive staff that build up students’ confidence and give strength to boost up their 
            skills without any hesitation. We follow the sense as we know that every student has talent 
            inside and need to polish it. 
        </p>
        <div class="supportiveStaff">
            <h2>TEACHING FACULTY</h2>
        </div>
        <p class="paragraph">
          We have highly qualified, experienced and dedicated teachers to help learners overcome their 
          problems successfully. They not only teach students but also explore new and innovative ideas 
          that help students to achieve their goals.
        </p>
      </div>
  </div>    
</div>

<!-- COMPUTER COURSES:
We provide exclusive computer courses for all students and professional learners to achieve 
their goals. All courses have been designed by the professional and qualified teachers. We 
offer certificate courses and diploma courses as per need of students. We provide high 
standard education with theory plus practical, individual PC for every student, qualified 
teaching faculty that gives students wide-ranging support and clear focus to boost up their 
skills to meet their desires. We not only teach students but also give them real support 
and strength to get job instantly after completion of course. We have several job 
opportunities for talented students who could get benefit in the real life. 
ENGLISH LANGUAGE COURSES:
A complete and unique package:
We offer four skills English language course that gets students talking. It gives you full 
skill coverage with the clear focus on pronunciation plus wide-ranging support and resources 
too. After a placement test, the centre places the student in the study program according to 
their English language requirements. We offer courses to suit everyone such as Foundation, 
general English course (based on elementary and pre-intermediate level), professional course 
(based on intermediate and advanced level and effective teaching skills course. Summer Camp 
and Junior English courses are also offered for school children. -->