.rootPage{
  /* border: 2px solid black; */
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
  width: 100%;
}
.companyLogo{
  display: flex;
  border: 1px solid #0187cc;
  height: 70px;
  width: 100%;
  /* background: #363535; */
  background: #0187cc;
}
.makLogo h1:hover{
  cursor: pointer;
}
.makLogo h1{
  /* border: 1px solid red; */
  /* width: 400px; */
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}
.navigation{
  border: 1px solid purple;
  height: auto;
  min-height: 52px;
  width: 100%;
  /* background: #ffffff; */
}
.menu{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  /* width: 60%; */
  /* margin-left: auto; */
}
.menu li:first-child {
  margin-left: auto;
}

h3 {
  color: #fff;
}
#myCarousel{
  /* border: 2px solid red; */
  width: 100%;
  height: 83.5%;
  min-height: 500px;
}
.carousel-inner{
  height: 100%;
}
.item{
  height: 100%;
}
.active{
  height: 100%;
}
img{
  /* border: 1px solid transparent; */
  width: 100%;
  min-height:100%;
}
.affixx{
  /* border: 1px solid red; */
}

/* Media Queries */

@media screen and (max-width: 790px) {
  .menu{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* width: 60%; */
    /* margin-left: auto; */
  }
  .menu li:first-child {
    margin-left: 0px;
  }

}